.related_posts {
    position: absolute;
    top: 0;
    right: 0;
    margin: 50px;
}
.navigation {
    background-color: transparent;
    overflow: hidden;
    width: 500px;
    margin: 0 auto;
}
.navigation a {
    float: left;
    display: flex;
    color: blue;
    text-align: center;
    padding: 0px 5px;
    font-size: 25px;
}
.main_photo{
    width: 1100px;
    height: 400px;
    border-radius: 1%;
}
.body {
    margin: 50px;
}
.text {
    font-size: 25px;
}
.img1 {
    width: 285px;
    border-radius: 1%;
}
#body {
    background-color: white;
}
.footer {
    padding: 50px 60px 40px;
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: black;
}
.related_posts_url {
    font-size: 18px;
    color: blue;
}